# Directory structure
avn/
datasets/
results/

# Virtual environment
env_silver-system/

# Byte-compiled files
src/__pycache__/

# misc files
/src/alt_debug.py
/src/debug.py
/src/silver-system - activation sorting.ipynb
/src/activation_logging_update.py
./README.md
